<%= render "nav" %>

<div class="container container-show">
  <h1><%= @cocktail.name %></h1>
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4">
      <div class="card">
        <img src="<%= @cocktail.image %>" class="card-img-top cocktail-img" alt="...">
        <div class="card-body cocktail-body">
          <h5 class="card-title"><%= @cocktail.name %></h5>
          <% @cocktail.doses.each do |dose| %>
            <div class="ingredient-display d-flex row">
              <div class="col-6">
                <h5 class="card-title"><%= dose.ingredient.name %></h5>
              </div>
              <div class="col-6">
                <%= link_to 'Delete', dose_path(dose),  method: :delete %>
              </div>
            </div>
          <% end %>
          <div class="doses-btn">
            <%= link_to 'Change the doses', new_cocktail_dose_path(@cocktail) %>
          </div>
          <div class="back-to-home">
            <%= link_to 'Back to home', cocktails_path %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>